h1, img {
    text-align: center;
}

ul, li, a {
    margin:0;
    padding:0;
}
body, html, .wrapper{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}
body {
    background: url("./img/concrete-texture.png") repeat;
}
.wrapper{
    margin-bottom: 10px;
}
.wrapper, .fw-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.fw-div{
    width: 100vw;
    padding: 0;
    margin: 0;
}
.avatar{
    max-width:80vw;
    width: 3in;
    margin-top:.5in;
    border-radius: 10px;
}
.left{
    margin-left: 15vw;
    width: 35vw;
}
.left p, .right p, ul{
    margin:10pt;
    font-size: 14pt;
}
.right{
    margin-right: 15vw;
    width: 35vw;
}
.half-width-span{
    width: 100%;
    text-align: center;
}
.left a{
    margin: 0;
}